.memeForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2.25rem 2.25rem 0 2.25rem;
}

.form__topText,
.form__bottomText {
  border: 1px solid #d5d4d8;
  border-radius: 5px;
  color: #0d0d0d;
  font-family: "Karla", sans-serif;
  font-size: 0.75rem;
  padding: 10px;
  width: 100%;
}

.form__TextInputsContainer {
  display: flex;
  gap: 1rem;
}

.form__button {
  background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
  border: none;
  border-radius: 5px;
  color: white;
  font-family: "Karla", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: -0.05rem;
  padding: 10px;
}
