:root {
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
  margin: 0;
  padding: o;
}

html {
  background-color: #E5E5E5;
}

body {
  border-radius: 6px;
  margin: 2rem auto;
  width: 550px;
}